@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Shared Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", serif;
}

body {
  background-color: #f5f5f5;
  /* height: 5281px; */
  width: 100%;
}

.btn-primary {
  background-color: #006a50;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* Styles of nav bar */

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 178px;
}
.nav-title {
  font-size: 32px;
  font-weight: bold;
}
.button1 {
  background-color: white;
  color: #006a50;
  border: 2px solid #006a50;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  width: 139.2px;
  height: 52px;
}
.button1:hover {
  background-color: #006a50;
  color: white;
}

/* Banner section styles */

.banner {
  width: 81%;
  height: 560px;
  background-color: #c6e4d6;
  margin: 30px auto;
  border-radius: 24px;
}
.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 80px;
  gap: 64px;
}
.banner-title {
  font-size: 24px;
  color: #6a7972;
}
.banner-description {
  font-size: 77px;
  font-weight: bold;
  margin: 15px 0;
}

.button2 {
  background-color: #006a50;
  color: white;
  border: 2px solid #006a50;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  width: 324px;
  height: 56px;
}
.button2:hover {
  background-color: white;
  color: #006a50;
}

.banner-img {
  width: 474.03px;
  height: 400px;
}

/* Pillars of Bangladesh section styles */

/* Vision of future section styles */

.vision {
  width: 81%;
  height: 765px;
  margin: 100px auto;
}
.vision-title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}
.vision-description {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 23px;
  color: #535353;
}
.vision-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.item-content {
  width: 492.804px;
  height: 325px;
  padding: 24px;
  border-radius: 16px;
}
.box1 {
  background-color: #d5e1f5;
}
.box2 {
  background-color: #c6e4d6;
}
.box3 {
  background-color: #f7ebcf;
}
.vision-img {
  margin-bottom: 24px;
  width: 64px;
  height: 64px;
}

.item-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #3c3a34;
}

.item-description {
  font-size: 23px;
  line-height: 24px;
  color: #545048;
  margin-bottom: 50px;
}
.button3 {
  width: 146.4px;
  height: 41px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
  background-color: #5490f5;
  border: 2px solid #5490f5;
}
.button3:hover {
  color: #5490f5;
  background-color: white;
}
.button4 {
  width: 146.4px;
  height: 41px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
  background-color: #09a15c;
  border: 2px solid #09a15c;
}
.button4:hover {
  color: #09a15c;
  background-color: white;
}
.button5 {
  width: 146.4px;
  height: 41px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
  background-color: #ffc239;
  border: 2px solid #ffc239;
}
.button5:hover {
  color: #ffc239;
  background-color: white;
}

.quite-section {
  width: 100%;
  height: 256px;
  margin-top: 32px;
  background-color: white;
  border-radius: 16px;
  border: 1px solid gray;
  background-image: url("./assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: 25px 25px;
}
.quite {
  font-size: 20px;
  line-height: 30px;
  color: #3e3e3e;
  padding-left: 25px;
  padding-top: 49px;
}
.quite-2 {
  padding-top: 8px;
}
.name {
  padding-top: 10px;
  padding-left: 25px;
  font-size: 35px;
  color: #3e3e3e;
  margin-bottom: 10px;
}
.name-title {
  font-size: 23px;
  padding-left: 25px;
  color: #6e6e6e;
}

/* Opinion section styles */

.opinion {
  width: 81%;
  height: 481px;
  margin: 90px auto;
}
.opinion-title {
  font-size: 45px;
  font-weight: bold;
}
table {
  width: 1459.2px;
  border-collapse: collapse;
}
tr,
td {
  border: 1px solid #c0c0c0;
}
.opinion-container {
  width: 100%;
  height: 409px;
  background-color: white;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  border-radius: 16px;
}
.content{
  width:95%;
  height: 365px;
  margin: auto;
}

.th {
  border: 1px solid #c0c0c0;
  background-color: #c6e4d6;
}

.th1 {
  font-size: 25px;
  text-align: left;
  padding: 24px;
}
.th2 {
  font-size: 23px;
  padding-right: 30px;
}

.tr-box {
  height: 95px;
}
.td-size1 {
  width: 1220.4px;
  padding: 24px;
  font-size: 20px;
  font-weight: 600;
}
.td-size2 {
  width: 240px;
  padding: 24px;
}
#opinion {
  width: 182.4px;
  height: 44px;
  background-color: #c6e4d6;
  border: 1px solid;
  color: black;
  font-size: 16px;
  text-align: center;
}

/* Recent news section styles */

.recent-news {
  width: 81%;
  height: 1406px;
  margin: 100px auto;
}

.section-title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 25px;
}
.section-description {
  color: #535353;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}

.news-container {
  width: 100%;
  height: 1254px;
}

.news-container2 {
  background-color: white;
  border-radius: 24px;
  margin-bottom: 30px;
  border: 1px solid rgb(211, 211, 211);
}

.news-content {
  width: 100%;
  height: 402px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.content-img {
  border-radius: 24px;
}
.content-items {
  width: 892.8px;
  height: 290px;
}
.news-title {
  font-size: 35px;
  font-weight: bold;
  color: #3e3e3e;
  margin-bottom: 17px;
}
.aljazera {
  margin-bottom: 10px;
}
.time {
  margin-bottom: 10px;
}
.news-description {
  font-size: 20px;
  color: #565656;
}
.button6 {
  width: 166.8px;
  height: 48px;
  font-size: 20px;
  border-radius: 8px;
  border: 2px solid #006a50;
  margin-top: 33px;
}
.button6:hover {
  color: #006a50;
  background-color: white;
}
span {
  padding-left: 10px;
}

/* Donate section styles */

.donate {
  width: 100%;
  height: 464px;
  margin: 80px 0;
}
.donate-title {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}
.donate-description {
  font-size: 20px;
  text-align: center;
  color: #535353;
  margin: 30px 0;
}
.donate-container {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin: 30px 0;
}
.D-btn {
  width: 250px;
  height: 128px;
  font-size: 40px;
  font-weight: bold;
  border: none;
  border-radius: 16px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 1px solid rgb(233, 233, 233);
}
.D-btn:hover {
  color: white;
  background-color: #006a50;
}

.D-btn01 {
  background-color: #c6e4d6;
  border: 1px solid #09a15c;
}
.donate-amount {
  display: flex;
  justify-content: center;
}
#number {
  width: 1138px;
  height: 64px;
  font-size: 20px;
  border: none;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}
.donate-button {
  text-align: center;
}

/* Feedback section styles */

.feedback {
  width: 81%;
  height: 395px;
  background-color: #c6e4d6;
  border-radius: 24px;
  margin: 30px auto;
}
/* .feedback-container{
  width: 750px;
  height: 235px;
  padding: 30px auto;
  background-color: #09a15c;
} */
.feedback-title {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  padding-top: 60px;
}
.feedback-description {
  font-size: 20px;
  text-align: center;
  color: #454e45;
  padding-top: 25px;
}
.input-feedback {
  text-align: center;
  margin: 40px 0 20px 0;
}
#email {
  width: 650px;
  height: 56px;
  text-align: justify;
  font-size: 20px;
  border: none;
  border-radius: 5px 0 0 5px;
  border: 1px solid rgb(199, 199, 199);
  padding-left: 30px;
}
.button {
  width: 150px;
  height: 56px;
  font-size: 20px;
  margin: 0;
  padding: 0;
  border-radius: 0 5px 5px 0;
  border: 1px solid #006a50;
}
.button:hover {
  background-color: white;
  color: #006a50;
}

/* Footer section styles */

footer{
  width: 100%;
  height: 226px;
  background-color: white;
  margin-top: 80px;
}

.footer-title{
  text-align: center;
  font-size: 32px;
  margin:30px 0;
  padding-top: 30px;

}
.contacts{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 30px;
  gap: 30px;

}

hr{
  margin-left: 140px;
  width: 85%;
}

.copyright{
  padding: 10px 50px;
}